<?xml version="1.0"?>
<!--
Copyright (c) 2012, Clearpath Robotics
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:
    * Redistributions of source code must retain the above copyright
      notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above copyright
      notice, this list of conditions and the following disclaimer in the
      documentation and/or other materials provided with the distribution.
    * Neither the name of Clearpath Robotics nor the
      names of its contributors may be used to endorse or promote products
      derived from this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS BE LIABLE FOR ANY
DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

This program is a launch file for spawning the Clearpath Husky A200
robot model in Gazebo
-->

<launch>  
    <!-- push robot_description to factory and spawn robot in gazebo -->
    <arg name="name" default="husky_fei"/>
    <arg name="pos_x" default="0.0"/>
    <arg name="pos_y" default="0.0"/>
    <arg name="pos_z" default="0.0"/>
    <arg name="rot_r" default="0.0"/>
    <arg name="rot_p" default="0.0"/>
    <arg name="rot_y" default="0.0"/>    
    
    <!-- Send the Husky A200 Robot URDF/XACRO to param server -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find husky_fei_description)/urdf/husky_fei.urdf.xacro'" />

    <!-- Spawn robot in gazebo -->
    <node name="spawn_husky_fei_model" pkg="gazebo_ros" type="spawn_model" 
          args="-param robot_description
          -model $(arg name)
          -unpause
          -urdf
          -x $(arg pos_x)
          -y $(arg pos_y)
          -z $(arg pos_z)
          -R $(arg rot_r)
          -P $(arg rot_p)
          -Y $(arg rot_y)"
          respawn="false" output="screen" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="30.0" />
        <param name="tf_prefix" type="string" value="$(arg name)" />
    </node>

    <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
      <param name="output_frame" value="odom"/>
      <param name="publish_tf" value="true"/>
      <param name="freq" value="30.0"/>
      <param name="sensor_timeout" value="1.0"/>
      <param name="odom_used" value="true"/>
      <param name="imu_used" value="true"/>
      <param name="vo_used" value="true"/>
      <param name="debug" value="false"/>
      <param name="self_diagnose" value="false"/>
    </node>
</launch>
