<?xml version="1.0"?>
<launch>
    <group ns="husky_1">
      <include file="$(find husky_fei_gazebo)/launch/husky_fei.urdf.gazebo.launch" >
        <arg name="robot_name" value="husky_1" />
        <arg name="world_frame" value="/world" />
        <arg name="odom_output_frame_suffix" value="odom_combined" />
        <arg name="pos_y" value="-1.0" />
      </include>
    </group>
    <!--
    <group ns="husky_2">
      <include file="$(find husky_fei_gazebo)/launch/husky_fei.urdf.gazebo.launch" >
        <arg name="robot_name" value="husky_2" />
        <arg name="world_frame" value="/world" />
        <arg name="odom_output_frame_suffix" value="odom_combined" />
        <arg name="pos_y" value="1.0" />
      </include>
    </group>
    -->
</launch>
