<?xml version="1.0"?>
<launch>
    <group ns="husky_1">
      <include file="$(find husky_fei_gazebo)/launch/spawn_husky_fei.urdf.gazebo.launch" >
        <arg name="robot_name" value="husky_1" />
        <arg name="pos_y" value="-1.0" />
      </include>
      <!-- <node pkg="tf" type="static_transform_publisher" name="world_odom_tf" args="0 0 0 0 0 0 /world husky_fei/odom 100" /> -->
    </group>
    <!--
    <group ns="husky_1">
      <param name="tf_prefix" value="husky_1_tf" />
      <include file="$(find husky_fei_gazebo)/launch/spawn_husky_fei.urdf.gazebo.launch" >
        <arg name="robot_name" value="husky_1" />
        <arg name="pos_y" value="-1.0" />
      </include>
    </group>
    <group ns="husky_2">
      <param name="tf_prefix" value="husky_2_tf" />
      <include file="$(find husky_fei_gazebo)/launch/spawn_husky_fei.urdf.gazebo.launch" >
        <arg name="robot_name" value="husky_2" />
        <arg name="pos_y" value="1.0" />        
      </include>
    </group>
    --> 
</launch>
